// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.accordion {
  @extend .list-zeroing;
  margin: 0 0 20px;

  li {
    margin: 0 0 14px;
  }
}

.accordion__item {
  display: block;

  .accordion__opener {
    @include transition(background-color);
    font-size: 16px;
    font-weight: $font-weight-semibold;
    color: $primary;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 14px 54px 14px 20px;
    border-radius: 10px;
    background-color: rgba($grey-01, 1);

    @include media('>=tablet') {
      font-size: 18px;
    }

    &:hover {
      background-color: rgba($blue-02, 0.2);
    }

    &.accordion__opener--active {
      background-color: rgba($blue-02, 0.2);

      span {
        &:before {
          transform: rotate(135deg);
        }
      }
    }

    .dark-mode & {
      background-color: rgba($grey-01, 1);
    }

    span {
      color: $secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      font-size: 12px;
      width: 22px;
      height: 22px;
      background-color: $primary;
      position: absolute;
      top: 15px;
      right: 22px;

      &:before {
        @include transition(transform);
        transform: rotate(0);
      }
    }
  }

  .accordion__content {
    display: none;
    padding: 20px;
    border-radius: 10px;
    margin: 14px 0 0;
    background-color: $primary;
    color: $secondary;
    font-size: 14px;

    @include media('>=tablet') {
      font-size: 16px;
    }

    .dark-mode & {
      background-color: rgba($grey-01, 0.4);
    }

    p {
      margin: 0 0 10px;

      &:last-child {
        margin: 0;
      }
    }
  }
}