// -----------------------------------------------------------------------------
// This file contains all styles related to the theme-switcher component.
// -----------------------------------------------------------------------------
.theme-switcher {
  margin: 0 20px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 1px;
    right: 0;
    bottom: 0;
    background-color: $primary;
  }

  @include media('>=tablet') {
    margin: 0 40px 0 0;
  }
}

.btn-switcher {
  position: relative;
  top: auto;
  left: auto;
  z-index: 1;
  padding: 10px;
  cursor: pointer;

  &.theme-active {
    span {
      color: $primary;
    }
  }

  span {
    @include transition(color);
    color: rgba($secondary, 0.5);
    display: block;
    font-size: 14px;
  }
}

.btn-switcher--light {
  &:after {
    @include transition(left);
    content: '';
    background-color: $secondary;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 #062c3026; 
    box-shadow: 0 0 10px 0 #062c3026;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
  }

  &.theme-active {
    &:after {
      left: 0;
    }
  }
}